<div class="container container-fluid">
  <p-table [columns]="colsOrders" [value]="myOrders" [paginator]="true" [rows]="10">
    <ng-template pTemplate="header">
      <tr>
        <th>
          Numéro de commande
        </th>
        <th>
          Date
        </th>
        <th>
          Nom d'utilisateur
        </th>
        <th>
          Nombre de Produits
        </th>
        <th>
          Prix Total
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-order >
      <tr (click)="selectOrder(order)">
        <td >{{order.id}}</td>
        <td >{{order.date | date:"dd-MM-yyyy"}}</td>
        <td>{{order.user_id}}</td>
        <td>{{order.products.length}}</td>
        <td>{{totalPrice(order)}}</td>
      </tr>
    </ng-template>
  </p-table>

  <p-dialog  header="Détails de la Commande" [(visible)]="display" [responsive]="true" showEffect="fade" [modal]="true" width="500" (onAfterHide)="onDialogHide()"
  [dismissableMask]="true">
    <div class="ui-grid ui-grid-responsive ui-grid-pad" *ngIf="selectedOrder" style="font-size:16px;text-align:center;padding:20px">
      <div class="row">
        <div class="col-12" style="text-align:center">
          <form>
            <div class="row">
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                <div class="label">
                  Id
                </div>
                <div class="field">
                  {{selectedOrder.id}}
                </div>
              </div>
              <div class="col-sm-6 col-md-6 col-lg-6 col-xs-12">
                <div class="label">
                  Date
                </div>
                <div class="field">
                  {{selectedOrder.date | date:"dd-MM-yyyy"}}
                </div>
              </div>
              </div>
          </form>
        </div>
      </div>
    </div>
  </p-dialog>
</div>
