.infoLabel{
    font-size:1.2em;
    font-weight:bold;
}
.container{
    /* background-color:black; */
 
    color:white;
    border-radius: 3%;
    background-color: rgba(0, 0, 0, .5);
}
.but{
    padding: 15px;    
}