

.img{
    image-rendering: auto;
}


div.label{
    color: white;
    background-color:rgb(18, 101, 184);
}

.btnDelete{
    background: red;
    color: white;
}

div.field{
    text-align: center;
    margin-top: 1em;
}

#btn{
    margin-top: 1em;
    margin-bottom: 1em;
}

