<!-- <nav>
  <div class="btn-group" role="group" aria-label="Basic example">
  
    <button id="button" type="button" class="btn btn-secondary" routerLink="/Products"> Liste des produits</button>
    <button id="button" type="button" class="btn btn-secondary" routerLink="/Product"> Fiche produit</button>
    <button id="button" type="button" class="btn btn-secondary" routerLink="/AdminProducts"> Gestion de produits</button>
    <button id="button" type="button" class="btn btn-secondary" routerLink="/AdminOrders"> Gestion des commandes</button>
  </div> 
</nav>
 -->
 <app-menu></app-menu>
<router-outlet></router-outlet>



